extends layout

block content
    .container

        h1= Update
        form#formUpdateTask(name="update",method="post",action="/updatetask/#{tasklist}")
            input.input-block-level#inputTaskName(type="text", placeholder='#{taskname}', name="taskname")
            #[br]
            #[br]
            input#inputTaskDescription(type="text", placeholder='#{taskdesc}', name="taskdesc")
            #[br]
            #[br]
            input#inputTaskHours(type="text",placeholder='#{taskhours}', name="taskhours")
            #[br]
            #[br]
            button.btn.btn-outline-primary#btnSubmit(type="submit") update 


